html{
    background-color: #1a1a1a;
    font-family: 'Baloo Bhaina 2', cursive;
}

body{
    margin: 0;
    margin: auto;
    max-width: 1200px;
    background-color: #4d4d4d;
    line-height: 2rem;
    color: #dadada;
}

a{
    color: #ff74f8;
    text-decoration: none;
    height: 100%;
    padding: 10px;
}

a:hover{
    color: #9c9c9c;
}

nav{
    background-color: #252525;
    height: 60px;
    position: sticky;
    top: 0;
}

nav ul{
    height: inherit;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

nav ul .Tablet{
    display: none;
}

nav ul .Phone{
    display: none;
}

nav ul li a{
    color: #dadada;
    text-decoration: none;
    height: 100%;
    padding: 10px;
}

nav ul li a:hover{
    color: #9c9c9c;
}

nav ul li .name{
    font-family: 'Dancing Script', cursive;
    width: 100%;
    font-size: 2rem;
}

main{
    margin-left: 5%;
    margin-right: 5%;
}

main p{
    font-size: 1.2rem;
}

main h2{
    font-size: 2rem;
}

main h3{
    font-size: 1.5rem;
}

main div h4{
    margin: 0;
}

main .twoColumns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main form{
    display: grid;
}

main form label{
    font-size: 1.2rem;
}

main form input{
    margin-bottom: 20px;
}

main form select{
    margin-bottom: 20px;
}

main .Influences{
    display: grid;
}

footer{
    margin-left: 5%;
    font-size: 0.7rem;
    font-weight: lighter;
    font-style: italic;
}

@media screen and (max-width: 720px)
{
    nav ul .Other{
        display: none;
    }

    nav ul .Tablet{
        display: initial;
    }
}

@media screen and (max-width: 600px){
    main .twoColumns{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media screen and (max-width: 380px)
{
    nav ul .Phone{
        display: initial;
    }

    nav ul .Tablet{
        display: none;
    }
}