html{
    background-color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    align-items: center;
    background-color: whitesmoke;
    color: #d9f1ff;
    margin: 0;
}

.navBar{
    overflow: hidden;
    background-color: #d9f1ff;
    font-size: 20px;
}

.navBar a{
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: inherit;
    font-weight: bold;
}

.navdropdown{
    float: left;
    overflow: hidden;
}

.navdropdown button{
    font-family: inherit;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    font-size: inherit;
    font-weight: bold;
}

.navdropdown_content{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: #d9f1ff;
    font-size: 15px;
}

.navdropdown_content:hover{
    background-color: blue;
}

.navdropdown_content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navdropdown:hover .navdropdown_content{
    display: block;
}

.gap{
    padding: 10px;
}

.title{
    background-color: #001D64;
    padding: 100px;
    font-size: 25px;
}

.classList{
    margin: 20px;
    padding: 20px;
    border: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: #3b6be3;
    background-color: #d9f1ff;
    text-align: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    gap: 1rem;
}

.classListElement{
    padding: 20px;
    border: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: #001D64;
    background-color: #006ABC;
}

.document{
    padding: 30px;
    margin-left: 5%;
    color: black;
}

.document h1{
    font-size: 50px;
}

.button{
    background-color: #001D64;
    border: 10px;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

.button:hover{
    background-color: #d9f1ff;
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 1000px)
{
    .classList{
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 600px)
{
    .classList{
        grid-template-columns: 100%;
    }
}