body{
    background-color: blueviolet;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body section{
    display: inherit;
}

body section a img{
    text-decoration: none;
    border-radius: 50px;
    height: 500px;
}
